// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much


/* 引用 */
#content blockquote.information {
    border-left: 12px solid #080;
    background-color: #bfb;
    padding: 12px 12px 12px 0;
    margin-left: -48px;
    padding-left: 48px;
}

/* 表格 */
#content table.mytable {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  /*border: solid 1px black;*/
 /* width: 100%; */
}
#content table.mytable td, #content table.mytable th {
    padding: 3px 5px;
    border: solid 1px #070;
}
#content table.mytable th {
    background-color: #080;
    color: white;
}



